<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>FactuLabWeb</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.factulab.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarInsertarAnalisisFormServlet</display-name>
    <servlet-name>CargarInsertarAnalisisFormServlet</servlet-name>
    <servlet-class>com.factulab.servlet.CargarInsertarAnalisisFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarInsertarAnalisisFormServlet</servlet-name>
    <url-pattern>/CargarInsertarAnalisisFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ObtenerImpresoraServlet</display-name>
    <servlet-name>ObtenerImpresoraServlet</servlet-name>
    <servlet-class>com.factulab.servlet.ObtenerImpresoraServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ObtenerImpresoraServlet</servlet-name>
    <url-pattern>/ObtenerImpresoraServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxPacienteServlet</display-name>
    <servlet-name>AjaxPacienteServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxPacienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxPacienteServlet</servlet-name>
    <url-pattern>/AjaxPacienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxMedicoServlet</display-name>
    <servlet-name>AjaxMedicoServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxMedicoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxMedicoServlet</servlet-name>
    <url-pattern>/AjaxMedicoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AnalisisServlet</display-name>
    <servlet-name>AnalisisServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AnalisisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AnalisisServlet</servlet-name>
    <url-pattern>/AnalisisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarInsertarAtencionFormServlet</display-name>
    <servlet-name>CargarInsertarAtencionFormServlet</servlet-name>
    <servlet-class>com.factulab.servlet.CargarInsertarAtencionFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarInsertarAtencionFormServlet</servlet-name>
    <url-pattern>/CargarInsertarAtencionFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumenAtencionServlet</display-name>
    <servlet-name>ResumenAtencionServlet</servlet-name>
    <servlet-class>com.factulab.servlet.ResumenAtencionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumenAtencionServlet</servlet-name>
    <url-pattern>/ResumenAtencionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketServlet</display-name>
    <servlet-name>TicketServlet</servlet-name>
    <servlet-class>com.factulab.servlet.TicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketServlet</servlet-name>
    <url-pattern>/TicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CargarFacturarPendientesFormServlet</display-name>
    <servlet-name>CargarFacturarPendientesFormServlet</servlet-name>
    <servlet-class>com.factulab.servlet.CargarFacturarPendientesFormServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CargarFacturarPendientesFormServlet</servlet-name>
    <url-pattern>/CargarFacturarPendientesFormServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AtencionPendienteServlet</display-name>
    <servlet-name>AtencionPendienteServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AtencionPendienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AtencionPendienteServlet</servlet-name>
    <url-pattern>/AtencionPendienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResumenAtencionPendienteServlet</display-name>
    <servlet-name>ResumenAtencionPendienteServlet</servlet-name>
    <servlet-class>com.factulab.servlet.ResumenAtencionPendienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResumenAtencionPendienteServlet</servlet-name>
    <url-pattern>/ResumenAtencionPendienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HojaTrabajoServlet</display-name>
    <servlet-name>HojaTrabajoServlet</servlet-name>
    <servlet-class>com.factulab.servlet.HojaTrabajoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HojaTrabajoServlet</servlet-name>
    <url-pattern>/HojaTrabajoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxAnalisisServlet</display-name>
    <servlet-name>AjaxAnalisisServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxAnalisisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxAnalisisServlet</servlet-name>
    <url-pattern>/AjaxAnalisisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoffServlet</display-name>
    <servlet-name>LogoffServlet</servlet-name>
    <servlet-class>com.factulab.servlet.LogoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoffServlet</servlet-name>
    <url-pattern>/LogoffServlet</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>180</session-timeout>
  </session-config>
  <servlet>
    <description></description>
    <display-name>AjaxProvinciaServlet</display-name>
    <servlet-name>AjaxProvinciaServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxProvinciaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxProvinciaServlet</servlet-name>
    <url-pattern>/AjaxProvinciaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxDistritoServlet</display-name>
    <servlet-name>AjaxDistritoServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxDistritoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxDistritoServlet</servlet-name>
    <url-pattern>/AjaxDistritoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReporteAnalisisServlet</display-name>
    <servlet-name>ReporteAnalisisServlet</servlet-name>
    <servlet-class>com.factulab.servlet.ReporteAnalisisServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReporteAnalisisServlet</servlet-name>
    <url-pattern>/ReporteAnalisisServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketPendienteServlet</display-name>
    <servlet-name>TicketPendienteServlet</servlet-name>
    <servlet-class>com.factulab.servlet.TicketPendienteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketPendienteServlet</servlet-name>
    <url-pattern>/TicketPendienteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AjaxInstitucionServlet</display-name>
    <servlet-name>AjaxInstitucionServlet</servlet-name>
    <servlet-class>com.factulab.servlet.AjaxInstitucionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AjaxInstitucionServlet</servlet-name>
    <url-pattern>/AjaxInstitucionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ProcesarAtencionServlet</display-name>
    <servlet-name>ProcesarAtencionServlet</servlet-name>
    <servlet-class>com.factulab.servlet.ProcesarAtencionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProcesarAtencionServlet</servlet-name>
    <url-pattern>/ProcesarAtencionServlet</url-pattern>
  </servlet-mapping>
</web-app>